@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300;400;700&family=Dosis:wght@300;400;700&family=Montserrat:wght@500&display=swap');

:root {
  --primary-color: rgb(240, 240, 240);
  --secondary-color: rgb(220, 220, 220);
  --background-color: rgb(250, 250, 250);
  --background-white: rgb(255, 255, 255);
  --background-gray: rgb(170, 170, 170);
  --background-dark: rgb(30, 30, 30);
  --background-skills-dark: rgb(40, 40, 40);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

/* Utility Class */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex--column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex--justify-evenly {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Header */

.header {
  height: 90vh;
  position: relative;
}

.header__title {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0;
}

.header__text {
  font-size: 1.75rem;
  font-weight: 200;
  letter-spacing: 0.75px;
  margin: 15px 0;
  min-height: 2.15rem;
  text-transform: uppercase;
}

.header__icons a {
  color: inherit;
  margin: 0 5px;
  text-decoration: none;
  transition: color 0.15s linear;
}

.header__icons a:hover {
  color: var(--background-gray);
}

.header__image {
  visibility: hidden;
  animation: 1.75s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.header__arrow--first {
  bottom: 35px;
  left: 47%;
  opacity: 0;
  position: absolute;
  animation: 2s arrowAnimationFirst ease-out infinite;
  animation-delay: 2.5s;
}

.header__arrow--second {
  bottom: 35px;
  left: 47%;
  opacity: 0;
  position: absolute;
  animation: 2s arrowAnimationSecond ease-out infinite;
  animation-delay: 2.9s;
}

.header__arrow--third {
  bottom: 35px;
  left: 47%;
  opacity: 0;
  position: absolute;
  animation: 2s arrowAnimationSecond ease-out infinite;
  animation-delay: 3.35s;
}

@keyframes arrowAnimationFirst {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  40%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@keyframes arrowAnimationSecond {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  41%,
  100% {
    opacity: 0;
  }
}

/* About */

.about {
  background-color: var(--background-white);
  min-height: 600px;
  padding: 1rem;
}

.about__title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  max-width: 300px;
  padding: 1rem 1rem 6rem 1rem;
}

.polaroid img {
  width: 100%;
}

.polaroid.polaroid-animation {
  animation: 1.25s fadeInFromLeft;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card {
  border: 1px solid var(--secondary-color);
  margin: 4rem 0 1rem;
  max-width: 95%;
}

.card.card-animation {
  animation: 1.25s fadeInFromRight;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card__header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.card__body {
  font-size: 14px;
  letter-spacing: 0.75px;
  padding: 0.5rem 1.5rem;
  word-spacing: 5px;
}

.card__body h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.card__body p {
  font-weight: 300;
  line-height: 1.75;
}

/* Project */

.project {
  min-height: 600px;
  padding: 1rem;
}

.project__title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.project__card__container {
  margin-top: 1rem;
}

.project__card {
  background-color: var(--background-white);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  max-width: 300px;
  padding: 1rem;
  text-align: center;
  transition: all 0.2s linear;
}

.project__card:hover {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.project__card img {
  width: 100%;
  height: 100%;
}

.project__card__title {
  font-weight: 400;
  letter-spacing: 1px;
}

.project__card__description {
  font-weight: 300;
  line-height: 1.5;
  margin: 0.5rem;
}

.project__card__icons {
  margin-bottom: 1rem;
}

.project__card__icons p {
  color: var(--background-gray);
  font-size: 1.15rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.project__card__date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0.5rem 0 1.5rem;
}

.project__card__btn a {
  color: inherit;
  text-decoration: none;
}

.project__card__btn button {
  border-radius: 40px;
  border: none;
  margin: 0 0.5rem;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.25s linear;
}

.project__card__btn button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Skills */
.skills {
  background-color: var(--background-dark);
  min-height: 500px;
  padding: 1rem 2rem 3rem;
}

.skills__title {
  color: var(--background-white);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.skills__card__container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.skills__card {
  background-color: var(--background-skills-dark);
  border-radius: 10px;
  color: var(--background-white);
  padding: 0.5rem 1rem;
  transition: transform 0.2s linear;
}

.skills__card:hover {
  transform: translateY(-0.25rem);
}

.skills__card__name {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0.5rem 0 0;
}

.skills__languages__container {
  background-color: var(--background-skills-dark);
  border-radius: 10px;
  color: var(--background-white);
  margin-top: 2rem;
  padding: 0.5rem 3.5rem;
}

.skills__languages {
  margin: 0.5rem 0;
}

.skills__languages__name {
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 1.25rem;
  margin: 0 0.5rem 0 0;
}

/* Experience */

.experience {
  margin-bottom: 4rem;
  padding: 1rem;
}

.experience__title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0 0 0.5rem;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

.experience__timeline {
  width: 95%;
  position: relative;
  margin: 0 auto;
  max-width: 1170px;
}

.experience__timeline::before {
  background-color: var(--background-white);
  content: '';
  width: 4px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 18px;
}

.experience__timeline__item {
  padding: 1.5rem 0;
}

.experience__timeline__icon {
  background-color: var(--background-gray);
  border-radius: 50%;
  border: 5px solid var(--background-white);
  color: var(--background-white);
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: -5px;
  width: 50px;
  height: 50px;
}

.experience__timeline__icon.experience__timeline__icon--first {
  top: 5%;
}

.experience__timeline__icon.experience__timeline__icon--second {
  top: 52%;
}

.experience__timeline__icon.experience__timeline__icon--third {
  top: 95%;
}

.experience__timeline__card {
  background-color: var(--background-white);
  border-radius: 5px;
  box-shadow: 0 3px 0 var(--secondary-color);
  margin-left: 4rem;
  padding: 1rem 0 0 1rem;
  position: relative;
}

.experience__timeline__card__arrow {
  color: var(--background-white);
  position: absolute;
  top: 15px;
  left: -12px;
}

.experience__timeline__card__title {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  width: 15ch;
}

.experience__timeline__card__place {
  color: rgb(100, 100, 100);
  margin: 0.5rem 0;
}

.experience__timeline__card__period {
  color: rgb(130, 130, 130);
  justify-content: flex-start;
}

.experience__timeline__card__period p {
  margin-left: 5px;
}

/* Footer */

footer {
  background-color: var(--background-dark);
  color: var(--background-white);
  padding: 2rem;
}

.footer__icon {
  color: var(--background-white);
}

/* Media Queries */

/* Tablet & Desktop */
@media (min-width: 768px) {
  .header {
    height: 100vh;
  }

  .header__arrow--first {
    left: 49%;
  }

  .header__arrow--second {
    left: 49%;
  }

  .header__arrow--third {
    left: 49%;
  }

  .about__items {
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    max-width: 50%;
  }

  .project__card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
  }

  .skills__languages__container {
    flex-direction: row;
    margin-top: 3rem;
    padding: 0.5rem 1rem;
  }

  .skills__languages {
    margin: 0.5rem 1rem;
  }

  .experience__timeline {
    max-width: 60%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .skills__card__container {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .skills {
    min-height: 450px;
  }

  .skills__card__container {
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3rem;
  }

  .experience__timeline {
    max-width: 35%;
  }

  /* .experience__timeline::before {
    left: 50%;
    margin-left: -2px;
  }

  .experience__timeline__icon {
    left: 50%;
    margin-left: -25px;
  } */
}
