:root {
  --primary-color: rgb(240, 240, 240);
  --secondary-color: rgb(220, 220, 220);
  --background-color: rgb(250, 250, 250);
  --background-white: rgb(255, 255, 255);
  --background-gray: rgb(170, 170, 170);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */

.header {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0;
}

.header__text {
  font-size: 1.75rem;
  font-weight: 200;
  letter-spacing: 0.75px;
  margin: 15px 0;
  min-height: 2.15rem;
  text-transform: uppercase;
}

.header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icons a {
  color: inherit;
  margin: 0 5px;
  text-decoration: none;
}

.header__icons a:hover {
  color: var(--background-gray);
  transition: color 0.15s;
}

.header__image {
  visibility: hidden;
  animation: 1.75s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.header__arrow--first {
  bottom: 35px;
  left: 47%;
  opacity: 0;
  position: absolute;
  animation: 2s arrowAnimationFirst ease-out infinite;
  animation-delay: 2.5s;
}

.header__arrow--second {
  bottom: 35px;
  left: 47%;
  opacity: 0;
  position: absolute;
  animation: 2s arrowAnimationSecond ease-out infinite;
  animation-delay: 2.9s;
}

.header__arrow--third {
  bottom: 35px;
  left: 47%;
  opacity: 0;
  position: absolute;
  animation: 2s arrowAnimationSecond ease-out infinite;
  animation-delay: 3.35s;
}

@keyframes arrowAnimationFirst {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  40%,
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@keyframes arrowAnimationSecond {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  41%,
  100% {
    opacity: 0;
  }
}

/* About */

.about {
  background-color: var(--background-white);
  min-height: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about__title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.about__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
  max-width: 300px;
  padding: 1rem 1rem 6rem 1rem;
}

.polaroid img {
  width: 100%;
}

.polaroid.polaroid-animation {
  animation: 1.25s fadeInFromLeft;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card {
  border: 1px solid var(--secondary-color);
  margin: 4rem 0 1rem;
  max-width: 95%;
}

.card.card-animation {
  animation: 1.25s fadeInFromRight;
  animation-fill-mode: forwards;
}

@keyframes fadeInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.card__header {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--secondary-color);
  margin-bottom: 1rem;
  padding: 0.75rem;
}

.card__body {
  font-size: 14px;
  letter-spacing: 0.75px;
  padding: 0.5rem 1.5rem;
  word-spacing: 5px;
}

.card__body h1 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 2.5rem;
}

.card__body p {
  font-weight: 300;
  line-height: 1.75;
}

/* Project */

.project {
  min-height: 600px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__title {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.project__card {
  background-color: var(--background-white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  max-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project__card img {
  width: 100%;
}

.project__card__title {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project__card__description {
  font-weight: 300;
  line-height: 1.5;
  margin: 0.5rem;
}

.project__card__icons {
  margin-bottom: 1rem;
}

.project__card__icons p {
  color: var(--background-gray);
  font-size: 1.15rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
}

.project__card__date {
  font-weight: 400;
  margin: 0.5rem;
}

.project__card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__card__btn a {
  color: inherit;
  text-decoration: none;
}

.project__card__btn button {
  border-radius: 40px;
  border: none;
  margin: 1rem 0.5rem 0;
  padding: 0.75rem 1.5rem;
  transition: 0.25s all;
}

.project__card__btn button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  /* transform: translateY(-0.2rem); */
}

/* Skills */
.skills {
  background-color: rgb(30, 30, 30);
  min-height: 500px;
  padding: 1rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skills__title {
  color: var(--background-white);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.skills__card__container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.skills__card {
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  color: var(--background-white);
  padding: 0.5rem 1rem;
  transition: 0.25s all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills__card:hover {
  /* border-bottom: 3px solid rgb(200, 50, 70); */
  transform: translateY(-0.25rem);
}

.skills__card__name {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0.5rem 0 0;
}

/* Media Queries */

/* Tablet & Desktop */
@media (min-width: 768px) {
  .header__arrow--first {
    left: 49%;
  }

  .header__arrow--second {
    left: 49%;
  }

  .header__arrow--third {
    left: 49%;
  }

  .about__items {
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    max-width: 50%;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .skills__card__container {
    margin-top: 0;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .skills {
    min-height: 450px;
  }

  .skills__card__container {
    margin-top: 0;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 3rem;
  }
}
